:root {
    --primary-color: rgb(73, 210, 121);
    --secondary-color: rgb(249, 205, 44);
    --accent-color1: rgb(155, 75, 75);
    --accent-color2: gray;
    --background-color: rgba(249, 243, 230, 0.8);
}

body {
    font-family: 'Roboto', san serif;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: .5rem 1rem;
}

.branding {
    display: flex;

    align-items: center;
    padding: .5rem;
    gap: 1rem;
}

h1 {
    font-size: 2.5rem;
}





/*.navigation {
    list-style: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;

}



.navigation a {
    display: flex;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}

.navigation a:hover {
    border: 1px solid var(--accent-color1);
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--secondary-color);

}*/

@media screen and (max-width: 700px) {
    #menu {
        display: block;
        /*justify-content: space-evenly;*/
        font-size: 2rem;
        font-weight: 700;
        padding: .5rem .75rem;
    }

    #menu::before {
        content: "≡";
        

        /*color: black;*/
    }

    #menu.show::before {
        content: "X";
    }

    .navigation {
        list-style: none;
        margin: 0 auto;
        max-width: 700px;
        padding: 0;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        display: block;
        padding: .75rem;
        text-align: left;
        text-decoration: none;
        font-weight: 700;
        color: black;
        font-size: 1.5rem;
    }

    .navigation a:hover,
    .navigation a:active {
        color: white;

    }

    .navigation.show li {
        display: block;
    }


}

main {
    background-color: var(--background-color);
    padding: 1rem;


}

footer {
    background-color: var(--primary-color);
    padding: 1rem;
}