:root {
    --primary-color: rgb(73, 210, 121);
    --secondary-color: rgb(249, 205, 44);
    --accent-color1: rgb(155, 75, 75);
    --accent-color2: gray;
    --background-color: rgba(249, 243, 230, 0.8);
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1250px;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: .4rem 1rem;
}

.branding {
    display: flex;

    align-items: center;
    padding: .5rem;
    gap: 1rem;
}

h1 {
    font-size: 2.2rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1400px;
    margin: auto;
}

.hero-img {
    max-width: 1250px;
    display: block;
    width: 100%;
    height: auto;
}

.intro,
.map {
    background-color: var(--background-color);
    /*border: 1px solid var(--accent-color1);*/
    /*border-radius: 1em;*/
    padding: 10px;
    text-align: center;
}

.intro {
    width: 190px;
    height: 230px;
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 1.2rem;

}

.map {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 500px;
    right: 20px;
}





.navigation a:hover,
.navigation a:active {
    color: white;
}

.container2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

h2 {
    display: block;
    text-align: center;
    padding: 15px;
}

/*section {
    background-color: var(--secondary-color);
    padding: 15px;
    text-align: center;
    width: 300px;
}*/
section {
    background-color: var(--secondary-color);
    padding: 15px;
    text-align: center;
    width: 300px;
}

.container2 .tour-img {
    width: 220px;
    height: 190px;

}

.signup {
    display: block;
}

fieldset {
    margin: .5rem 0 .5rem 0;

    border: 0;
    border-radius: 3px;
    width: 96%;
    max-width: 296px;
    ;
}

.wf1 select,
.wf1 input[type="radio"],
.wf1 input[type="date"],
.wf1 input[type="checkbox"],
.wf1 input[type="text"] {
    margin: .5rem;
    margin-bottom: .8rem;

}

.wf1 div {
    padding-top: .6rem;
}

.wf1 select,
.wf1 input[type="date"],
.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="textarea"] {
    display: block;
    margin: .1rem 0 .7rem 0;
    border: none;
    background-color: white;
    padding: .75rem;
    width: 100%;
    max-width: 260px;

}

.wf1 select:invalid {
    border-left: 6px solid red;
}

.wf1 input[type=date]:required {
    border-left: 6px solid red;
}

.wf1 input[type=date]:required:valid {
    border-left: none;
}

.wf1 input[type=text]:required {
    border-left: 6px solid red;
}

.wf1 input[type=text]:required:valid {
    border-left: none;
}



.wf1 #questions {
    border: none;
    height: 3rem;
    width: 100%;
    max-width: 280px;
}

label {
    display: block;
}

.wf1 input[type="submit"] {
    width: 100%;
    max-width: 285px;
    padding: .7rem;
    font-weight: bold;
    margin-top: .75rem;
}

.wf1 input[type="submit"]:hover {
    background-color: darkgray;
    border-color: var(--accent-color1);
    border-radius: 3px;
    color: white;
}

@media screen and (min-width: 701px) {
    #menu {
        display: none;
    }


    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;

    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
        list-style: none;

    }

    .navigation a {
        display: block;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
        color: black;
        font-size: 1.5rem;

    }

}


main {
    background-color: var(--background-color);
    padding: 1rem;


}

footer {
    background-color: var(--primary-color);
    padding: 1rem;
}