.header {
    margin: 0;
    padding: 0;
    background-color: rgb(30, 100, 232);
    text-align: center;
}

h1 {
    color: aliceblue;
}

h2 {
    color: rgb(239, 239, 101);
}

h1,
h2 {
    display: inline-block;

}

.bold {
    color: rgb(187, 38, 38);
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 0;

}

.nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background-color: rgb(61, 60, 60);
}

.nav a {
    color: white;
    text-align: center;
}

nav a:hover {
    color: red;
}

main {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
}

.card {
    border: 2px solid rgb(61, 60, 60);
    border-radius: 10px;
    margin: 15px;
    padding: 0 0 10px;
}

.top {
    margin: 0;
    padding: 15px;
    flex: 1;
    color: black;
}

.top img {
    width: 150px;
    float: right;
    margin: 0 10px 10px;
    padding: 5px;
}

.bottom {
    border-top: 1px solid rgb(65, 61, 61);
    padding: 10px;
    margin: 15px;
    flex: 1;
    color: black;
}

.bottom img {
    width: 150px;
    float: left;
    margin-right: 10px;
}

.card h3 {
    margin: 0;
    padding: 8px;
    background-color: rgb(30, 100, 232);
    color: aliceblue;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-weight: bold;
    text-align: center;
}

.card a:hover {
    color: red;
}

.footer {
    background-color: rgb(30, 100, 232);
    padding: 10px;
    text-align: center;
    color: aliceblue;

}