body {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
}

header,
footer {
    margin: 0;
    padding: 0;
    background-color: rgb(54, 37, 67);
    width: 100%;
    max-width: 300px;
    color: white;
    padding: .5rem;
    text-align: center;
}

header h1 {
    font-size: 1.2rem;
}

fieldset {
    margin: .5rem 0 .5rem 0;
    background-color: rgb(209, 200, 216);
    border: 0;
    border-radius: 3px;
    width: 96%;
    max-width: 296px;
    ;
}

.wf1 select,
.wf1 input[type="radio"],
.wf1 input[type="date"],
.wf1 input[type="checkbox"],
.wf1 input[type="text"] {
    margin: .5rem;
    margin-bottom: .8rem;

}


.wf1 div {
    padding-top: .6rem;
}

.wf1 input[type="radio"] {
    display: inline-block;
    margin-bottom: .8rem;
}


.wf1 select,
.wf1 input[type="date"],
.wf1 input[type="text"],
.wf1 input[type="textarea"] {
    display: block;
    margin: .1rem 0 .7rem 0;
    border: none;
    background-color: white;
    padding: .75rem;
    width: 100%;
    max-width: 260px;

    /*appearance: none;*/

}

.wf1 select:invalid {
    border-left: 6px solid red;
}

.wf1 input[type=date]:required {
    border-left: 6px solid red;
}

.wf1 input[type=date]:required:valid {
    border-left: none;
}

.wf1 #review {
    border: none;
    height: 3rem;
    width: 100%;
    max-width: 260px;

}

label {
    display: block;


}

.wf1 input[type="submit"] {
    width: 100%;
    max-width: 285px;
    padding: .7rem;
    font-weight: bold;
}

.wf1 input[type="submit"]:hover {
    background-color: darkgray;
    border-color: rgb(54, 37, 67);
    border-radius: 3px;
    color: white;
}

.container {
    background-color: rgb(209, 200, 216);
    width: 100%;
    height: 80%;
    max-width: 296px;
    text-align: center;
    padding: .6rem;
}