body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #222;
}

header {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: blueviolet;
    color: azure;
}

.header-left h1 {
    font-size: 2.5em;
    margin: 0;
}

@media only screen and (max-width: 650px) {
    #menu {
        display: block;        
        cursor: pointer;
        background: none;   /*remove default button background*/
        border: none;       /*remove border (the square around 'X' and '≣')*/

    }
    
    .navigation {

        display: none;

    }

    .navigation.show {
        display: block;
    }

    #menu::before {
        content: '≣';
        font-size: 2.2rem;  /*font-size works for changing symbol's size. No need to set an id or class*/
        color: white;
    }

    #menu.show::before {
        content: 'X';
        font-size: 2.2rem;
        color: white;
        
    }
        
}

.navigation ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navigation li {
    margin: 0;
}

.navigation a {
    display: block;
    font-size: 1.5em;
    color: azure;
    text-decoration: none;
}

.navigation a:hover {
    background-color: white;
    color: indigo;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

h2 {
    display: block;
    text-align: center;
    padding: 15px;
}

img {
    width: 220px;
    height: 190px;
    border: 8px solid rgb(218, 189, 74);
}

figcaption {
    color: darkblue;
    text-align: center;
}

footer {
    max-width: 1100px;
    margin: 0 auto;
    background-color: blueviolet;
    padding: 10px;
    text-align: center;
    color: aliceblue;
}